.dropbtn {
    position: absolute;
    width: 200px;
    height: 45px;
    left: 579px;
    top: 9px;
    background-color: #D83737;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 34px;
    transform: translateX(-50%);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  
  .rectangle-23 {
    position: absolute;
    width: 1450px;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #EF8E1C;
  }
  
  .whatsapp {
    position: absolute;
    width: 56px;
    height: 58px;
    left: 11px;
    top: 7px;
    background: url(whatsapp.jpg);
    border-radius: 43px;
  }
  
  .phone-number {
    position: absolute;
    width: 100px;
    height: 39px;
    left: 75px;
    top: 17px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
  }
  
  /* Ultrassom Abdominal */
  .ultrassom-abdominal {
    position: absolute;
    width: 407px;
    height: 42px;
    left: 378px;
    top: 130px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 18px;
    text-align: center;
    color: #08B1BC;
  }
  .resumo {
    position: absolute;
    width: 687px;
    height: 202px;
    left: 275px;
    top: 290px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    text-align: left;
    color: #08B1BC;
  }
  
  /* Estilo do botão "ropbtn" */
  .ropbtn {
    position: absolute;
    width: 200px;
    height: 45px;
    left: 583px;
    top: 23px;
    background-color: #D83737;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 34px;
    transform: translateX(-50%);
  }
  